body {
    height: 100vh;
    width: 1020px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    background: 
    linear-gradient(
        rgba(51, 51, 51, 0.3), 
        rgba(51, 51, 51, 0.3)
      ),
    url(https://s3.amazonaws.com/yelpcloneassets/Images/nordwood-themes-1084135-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

p {
    font-size: 14px;
}

header {
    display: inline-block;
}

li {
    display: inline-block;
}

.write {
    width: 135px;
}

.log {
    width: 80px;
}

.link {
    line-height: 1.28571em;
    font-weight: 700;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    margin-right: 30px;
    text-align: center;
}

.link:hover {
    border-bottom: 2px solid white;
}

.signup {
    position: relative;
    left: 675px;
}

.signup-home {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 3px;
    height: 40px;
    width: 110px;
    line-height: 1.28571em;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.signup-home:hover {
    background-color: white;
    color: gray;
}

main {
    margin-top: 120px;
    display: grid;
    grid-template-rows: 200px 50px 50px;
    grid-template-columns: 1fr;
}

i {
    color: white;
}

.yelp {
    display: grid;
    margin: auto;
}

.logo {
    width: 165px;
    height: 85px;
}

form {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 60px 420px 60px 420px 60px;
}

label {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: gray;
    font-size: 16px;
    font-weight: 700;
}

.find {
    border-radius: 3px 0px 0px 3px; 
}

input {
    border: none;
    font-size: 16px;
    color: gray;
}

.submit {
    border: none;
    background-color: #d90007;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}

.submit:hover {
    background-color: #d32323;
}

.shortcuts {
    margin-top: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 20px 85px 25px 75px;
    align-items: center;
    justify-content: center;
}

.underline {
    font-weight: 700;
    color: white;
}

.underline:hover {
    text-decoration: underline;
}

.subhead {
    cursor: pointer;
}

footer {
    position: relative;
    top: 350px;
    text-align: center;
    color: white;
}
