/* Main Page Styling */
body {
    height: 100vh;
    width: 1020px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 14px;
}

header {
    display: inline-block;
}

li {
    display: inline-block;
}

.write {
    width: 135px;
}

.log {
    width: 80px;
}

.link {
    line-height: 1.28571em;
    font-weight: 700;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    margin-right: 30px;
    text-align: center;
}

.link:hover {
    border-bottom: 2px solid white;
}

.signup {
    position: relative;
    left: 675px;
}

.signup-home {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 3px;
    height: 40px;
    width: 110px;
    line-height: 1.28571em;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.signup-home:hover {
    background-color: white;
    color: gray;
}

main {
    margin-top: 120px;
    display: grid;
    grid-template-rows: 200px 50px 50px;
    grid-template-columns: 1fr;
}

i {
    color: white;
}

.yelp {
    display: grid;
    margin: auto;
}

.logo {
    width: 165px;
    height: 85px;
}

form {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 60px 420px 60px 420px 60px;
}

label {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: gray;
    font-size: 16px;
    font-weight: 700;
}

.find {
    border-radius: 5px 0px 0px 5px;
}

input {
    border: none;
    font-size: 16px;
    color: gray;
}

.submit {
    border: none;
    background-color: #d90007;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.search {
    display: none;
}

.submit:hover {
    background-color: #d32323;
}

.shortcuts {
    margin-top: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 20px 85px 25px 75px;
    align-items: center;
    justify-content: center;
}

.underline {
    font-weight: 700;
    color: white;
}

.underline:hover {
    text-decoration: underline;
}

.subhead {
    cursor: pointer;
}

footer {
    position: relative;
    top: 350px;
    text-align: center;
    color: white;
}

/* Mobile Responsiveness */
@media only screen and (max-width: 600px) {
    body {
        width: 500px;
    }
    
    .signup {
        position: relative;
        left: 156px;
    }
    
    main {
        margin-top: 90px;
        display: grid;
        grid-template-rows: 200px 200px 50px;
        grid-template-columns: 1fr;
    }
    
    form {
        display: grid;
        grid-template-rows: 70px 70px 70px;
        grid-template-columns: 60px 420px;
        justify-content: center;
    }

    label {
        height: 60px;
        border-radius: 5px 0px 0px 5px;
    }

    input {
        height: 60px;
        padding: 0px;
        border-radius: 0px 5px 5px 0px;
    }

    form button {
        height: 60px;
    }

    .submit {
        border-radius: 5px;
        cursor: pointer;
        position: relative;
        left: 157px;
        width: 165px;
    }

    .search {
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        color: white;
        margin-right: 10px;
    }

    .fa-2x {
        font-size: 1.75em;
    }
    
    footer {
        top: 175px;
    }
}